body {
    color: white;
    background-color: black;
    font: 24px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.box {
    margin: 16px auto;
    width: 752px;
}

p {
    margin: 8px 0px;
}

.subtext {
    margin: 8px;
    padding: 0 16px;
    font-size: 12px;
    color: #aaa;
}

a {
    color: rgb(128, 128, 255);
}

strong {
    color: red;
}

label {
    text-align: right;
    display: inline-block;
    width: 270px;
}

#options {
    font-size: 16px;
    margin: 0 auto;
    border: 4px solid white;
}

#file-drop {
    border: 2px dashed white;
    padding: 2px;
}

#file-drop p {
    margin: 10px 0px;
    text-align: center;
}

#filenames {
    font-size: 15px;
    width: 480px;
    margin: 4px auto;
}

#filenames p {
    text-align: left;
    margin: 2px;
    padding: 4px;
    background-color: #333;
    word-wrap: break-word;
}

#filenames p div {
    float: right;
    margin-right: 4px;
}

#clear-filenames, #clear-output {
    display: none;
}

#clear-filenames p, #clear-output p {
    margin: 0;
}

#clear-filenames p a, #clear-output p a {
    background-color: #990000;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 15px;
}

#image-container {
    border: 1px solid white;
    padding: 16px;
    width: 720px;
    text-align: center;
}

#image-container .subtext {
    font-size: 12px;
    margin: 16px 0;
}

#image-container p {
    font-size: 18px;
    margin: 8px 0px;
}

#image-container p.image-item {
    background-color: #333;
    margin: 2px;
    padding: 4px;
}

a.image-link {
    color: white;
}

#image-container p.image-item div {
    float: right;
    margin-right: 4px;
}

#image-container p.image-item {
    text-align: left;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow: scroll;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 150px;
    margin-top: -76px;
    margin-left: -227px;
    background-color: black;
    border: 4px solid #999;
    text-align: center;
}

.preview-link {
    margin-left: 10px;
    color: white;
    opacity: 0.5;
}

.remove-link {
    background-color: black;
    color: #990000;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: 6px;
}

#preview-container {
    background-color: black;
    box-shadow: 0 8px 32px rgb(0, 0, 0);
    margin: 8px auto;
    padding: 16px;
    border: 2px solid white;
    border-radius: 8px;
}

#preview-container canvas {
    vertical-align: bottom;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.modal p {
    margin: 16px;
}

#render-link {
    padding: 4px;
    background-color: #44F;
    color: white;
    border: 1px solid #AAF;
    text-decoration: none;
    border-radius: 4px;
}

#render-link:hover {
    border: 2px solid white;
    padding: 3px;
}