body {
    color: white;
    background-color: black;
    font: 24px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.box {
    margin: 16px auto;
    width: 760px;
}

p {
    margin: 8px 0px;
}

.subtext {
    margin: 8px;
    padding: 0 16px;
    font-size: 12px;
    color: #aaa;
}

a {
    color: rgb(128, 128, 255);
}

label {
    text-align: right;
    display: inline-block;
    width: 270px;
}

#options {
    font-size: 16px;
    margin: 0 auto;
    border: 4px solid white;
}

#file-drop {
    border: 2px dashed white;
    padding: 2px;
}

#file-drop p {
    margin: 10px 0px;
    text-align: center;
}

#filenames {
    font-size: 15px;
    text-align: center;
    width: 480px;
    margin: 4px auto;
}

#filenames p {
    margin: 2px;
    padding: 2px;
    background-color: #444;
    word-wrap: break-word;
}

#clear-filenames {
    display: none;
}

#clear-filenames p {
    margin: 0;
}

#clear-filenames p a {
    background-color: #990000;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 15px;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
}

.remove-link {
    color: #BB0000;
    text-decoration: none;
    margin-left: 6px;
}

#preview-container {
    background-color: black;
    box-shadow: 0 8px 32px rgb(0, 0, 0);
    margin: 8px auto;
    padding: 16px;
    border: 2px solid white;
    border-radius: 8px;
    width: 640px;
    height: 416px;
}

#preview-container canvas {
    vertical-align: bottom;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#play-link {
    padding: 4px;
    background-color: #44F;
    color: white;
    border: 1px solid #AAF;
    text-decoration: none;
    border-radius: 4px;
}

#play-link:hover {
    border: 2px solid white;
    padding: 3px;
}

.centered-text {
    text-align: center;
}

.big-text {
    font-size: 32px;
}

.tube-link {
    width: 180px;
    margin: 4px;
    border: 1px solid #555;
    float: left;
    border-radius: 8px;
}

.tube-link:hover {
    cursor: pointer;
}

.tube-link p {
    margin: 6px;
    font-size: 10px;
    color: #999;
}

.tube-link:hover p {
    text-decoration: underline;
}